# Пример файла окружения для SDK
# Переименуйте в ".env" и заполните своими данными
ROBOKASSA_LOGIN=
ROBOKASSA_PASSWORD1=
ROBOKASSA_PASSWORD2=

# Параметры примера hold_payment.php
ROBOKASSA_HOLD_ACTION=create
ROBOKASSA_HOLD_INVOICE_ID=
ROBOKASSA_HOLD_OUT_SUM=
ROBOKASSA_HOLD_RESULT_URL2=
